<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qx.cfg.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.qx.cfg.pojo.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="from_uid" property="fromUid" jdbcType="INTEGER" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="thumb_img" property="thumbImg" jdbcType="VARCHAR" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="reply_num" property="replyNum" jdbcType="INTEGER" />
    <result column="reward_num" property="rewardNum" jdbcType="INTEGER" />
    <result column="reward" property="reward" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, blog_id, content, from_uid, nickname, thumb_img, like_num, reply_num, reward_num, 
    reward, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qx.cfg.pojo.Comment" >
    insert into comment (id, blog_id, content, 
      from_uid, nickname, thumb_img, 
      like_num, reply_num, reward_num, 
      reward, create_time)
    values (#{id,jdbcType=INTEGER}, #{blogId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{fromUid,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{thumbImg,jdbcType=VARCHAR}, 
      #{likeNum,jdbcType=INTEGER}, #{replyNum,jdbcType=INTEGER}, #{rewardNum,jdbcType=INTEGER}, 
      #{reward,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qx.cfg.pojo.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="fromUid != null" >
        from_uid,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="thumbImg != null" >
        thumb_img,
      </if>
      <if test="likeNum != null" >
        like_num,
      </if>
      <if test="replyNum != null" >
        reply_num,
      </if>
      <if test="rewardNum != null" >
        reward_num,
      </if>
      <if test="reward != null" >
        reward,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="blogId != null" >
        #{blogId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="fromUid != null" >
        #{fromUid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="thumbImg != null" >
        #{thumbImg,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null" >
        #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null" >
        #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="rewardNum != null" >
        #{rewardNum,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qx.cfg.pojo.Comment" >
    update comment
    <set >
      <if test="blogId != null" >
        blog_id = #{blogId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="fromUid != null" >
        from_uid = #{fromUid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="thumbImg != null" >
        thumb_img = #{thumbImg,jdbcType=VARCHAR},
      </if>
      <if test="likeNum != null" >
        like_num = #{likeNum,jdbcType=INTEGER},
      </if>
      <if test="replyNum != null" >
        reply_num = #{replyNum,jdbcType=INTEGER},
      </if>
      <if test="rewardNum != null" >
        reward_num = #{rewardNum,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        reward = #{reward,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qx.cfg.pojo.Comment" >
    update comment
    set blog_id = #{blogId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      from_uid = #{fromUid,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      thumb_img = #{thumbImg,jdbcType=VARCHAR},
      like_num = #{likeNum,jdbcType=INTEGER},
      reply_num = #{replyNum,jdbcType=INTEGER},
      reward_num = #{rewardNum,jdbcType=INTEGER},
      reward = #{reward,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>